$animation-duration: 6s;

$background-color: #d55084;
$window-top: #3c3e99;
$window-bar: #4c54a4;
$window-content: #fff;
$window-background: #efeff3;
$button-color: #e20269;

$window-width: 140px, 400px, 560px;
$window-height: 250px, 300px, 370px;
$content-width: 140px, 270px, 290px;
$content-height: 220px, 220px, 225px;
$header-height: 30px, 90px, 105px;
$header-border: 7px, 12px, 14px;
$button-size: 20px, 26px, 26px;


.responsive__example {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	min-height: 480px;
	background: #eccbcb82;
	border: 1px solid #dadada;
	border-radius: 5px;
	div {
		margin: 25px;
		max-width: 560px;
	}
	div:first-child {
		max-width: 320px;
    height: 220px;
    border-radius: 15px;
    padding: 10px 20px;
		color: #fff;
		background: $background-color;
		h3 {
			text-align: center;
		}
		p {
			text-align: justify;
		}
	}
	section {
		position: relative;
		width: nth($window-width, 1);
		height: nth($window-height, 1);
		background-color: $window-background;
		animation: window forwards $animation-duration infinite;
		overflow: hidden;

		> * {
			position: absolute;
		}
	}
	header {
		top: 0;
		left: 0;
		width: 100%;
		height: nth($header-height, 1);
		border-top: nth($header-border, 1) solid $window-top;
		background-color: $window-bar;
		animation: header forwards $animation-duration infinite;
	}
	article {
		top: 30px;
		left: 50%;
		width: nth($content-width, 1);
		height: nth($content-height, 1);
		box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
		background-color: $window-content;
		transform: translateX(-50%);
		animation: article forwards $animation-duration infinite;
		&::after {
			position: absolute;
			top: 100%;
			margin-top: 15px;
			width: 100%;
			height: 100px; // 30px on small, 95px on large
			background-color: $window-content;
			box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
			content: "";
		}
	}
	button {
		position: absolute;
		right: 10px;
		top: (nth($window-height, 1) - 20px * 1.5);
		margin: 0;
		padding: 0;
		width: 20px;
		height: 20px;
		border: 0;
		border-radius: 100%;
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 3px rgba(0, 0, 0, 0.2);
		-webkit-appearance: none;
		background-color: $button-color;
		animation: button forwards $animation-duration infinite;
	}
	@keyframes window {
		0%,
		15%,
		90% {
			width: nth($window-width, 1);
			height: nth($window-height, 1);
		}
		30%,
		45% {
			width: nth($window-width, 2);
			height: nth($window-height, 2);
		}
		60%,
		75% {
			width: nth($window-width, 3);
			height: nth($window-height, 3);
		}
	}
	@keyframes header {
		0%,
		15%,
		90% {
			width: 100%;
			height: nth($header-height, 1);
			border-top-width: nth($header-border, 1);
		}

		30%,
		45% {
			height: nth($header-height, 2);
			border-top-width: nth($header-border, 2);
		}
		60%,
		75% {
			height: nth($header-height, 3);
			border-top-width: nth($header-border, 3);
		}
	}
	@keyframes article {
		0%,
		15%,
		90% {
			top: $window-bar;
			width: nth($content-width, 1);
			height: nth($content-height, 1);
		}
		30%,
		45% {
			top: 35px;
			width: nth($content-width, 2);
			height: nth($content-height, 2);
		}
		60%,
		75% {
			top: 35px;
			width: nth($content-width, 3);
			height: nth($content-height, 3);
		}
	}
	@keyframes button {
		0%,
		15%,
		90% {
			right: 10px;
			top: (nth($window-height, 1) - 20px * 1.5);
			width: nth($button-size, 1);
			height: nth($button-size, 1);
		}
		30%,
		45% {
			right: 20px;
			top: (nth($header-height, 2) - 26px * 0.5);
			width: nth($button-size, 2);
			height: nth($button-size, 2);
		}
		60%,
		75% {
			right: 25px;
			top: (nth($header-height, 3) - 26px * 0.5);
			width: nth($button-size, 3);
			height: nth($button-size, 3);
		}
	}
}
@media(max-width: 1330px) {
	.responsive__example {
		flex-direction: column;
		> div:last-child {
			height: 400px;
		}
	section {
		// width: 410px;
		height: nth($window-height, 1) / 2;
		}
	}
	@keyframes window {
		0%,
		15%,
		90% {
			width: nth($window-width, 1);
			height: nth($window-height, 1) / 2;
		}
		30%,
		45% {
			width: nth($window-width, 2) / 2;
			height: nth($window-height, 2);
		}
		60%,
		75% {
			width: nth($window-width, 3) / 2;
			height: nth($window-height, 3);
		}
	}
}