.responsive__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 480px;
  background: #eccbcb82;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.responsive__example div {
  margin: 25px;
  max-width: 560px;
}

.responsive__example div:first-child {
  max-width: 320px;
  height: 220px;
  border-radius: 15px;
  padding: 10px 20px;
  color: #fff;
  background: #d55084;
}

.responsive__example div:first-child h3 {
  text-align: center;
}

.responsive__example div:first-child p {
  text-align: justify;
}

.responsive__example section {
  position: relative;
  width: 140px;
  height: 250px;
  background-color: #efeff3;
  -webkit-animation: window forwards 6s infinite;
          animation: window forwards 6s infinite;
  overflow: hidden;
}

.responsive__example section > * {
  position: absolute;
}

.responsive__example header {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-top: 7px solid #3c3e99;
  background-color: #4c54a4;
  -webkit-animation: header forwards 6s infinite;
          animation: header forwards 6s infinite;
}

.responsive__example article {
  top: 30px;
  left: 50%;
  width: 140px;
  height: 220px;
  -webkit-box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
          box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: article forwards 6s infinite;
          animation: article forwards 6s infinite;
}

.responsive__example article::after {
  position: absolute;
  top: 100%;
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
          box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
  content: "";
}

.responsive__example button {
  position: absolute;
  right: 10px;
  top: 220px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  background-color: #e20269;
  -webkit-animation: button forwards 6s infinite;
          animation: button forwards 6s infinite;
}

@-webkit-keyframes window {
  0%,
  15%,
  90% {
    width: 140px;
    height: 250px;
  }
  30%,
  45% {
    width: 400px;
    height: 300px;
  }
  60%,
  75% {
    width: 560px;
    height: 370px;
  }
}

@keyframes window {
  0%,
  15%,
  90% {
    width: 140px;
    height: 250px;
  }
  30%,
  45% {
    width: 400px;
    height: 300px;
  }
  60%,
  75% {
    width: 560px;
    height: 370px;
  }
}

@-webkit-keyframes header {
  0%,
  15%,
  90% {
    width: 100%;
    height: 30px;
    border-top-width: 7px;
  }
  30%,
  45% {
    height: 90px;
    border-top-width: 12px;
  }
  60%,
  75% {
    height: 105px;
    border-top-width: 14px;
  }
}

@keyframes header {
  0%,
  15%,
  90% {
    width: 100%;
    height: 30px;
    border-top-width: 7px;
  }
  30%,
  45% {
    height: 90px;
    border-top-width: 12px;
  }
  60%,
  75% {
    height: 105px;
    border-top-width: 14px;
  }
}

@-webkit-keyframes article {
  0%,
  15%,
  90% {
    top: #4c54a4;
    width: 140px;
    height: 220px;
  }
  30%,
  45% {
    top: 35px;
    width: 270px;
    height: 220px;
  }
  60%,
  75% {
    top: 35px;
    width: 290px;
    height: 225px;
  }
}

@keyframes article {
  0%,
  15%,
  90% {
    top: #4c54a4;
    width: 140px;
    height: 220px;
  }
  30%,
  45% {
    top: 35px;
    width: 270px;
    height: 220px;
  }
  60%,
  75% {
    top: 35px;
    width: 290px;
    height: 225px;
  }
}

@-webkit-keyframes button {
  0%,
  15%,
  90% {
    right: 10px;
    top: 220px;
    width: 20px;
    height: 20px;
  }
  30%,
  45% {
    right: 20px;
    top: 77px;
    width: 26px;
    height: 26px;
  }
  60%,
  75% {
    right: 25px;
    top: 92px;
    width: 26px;
    height: 26px;
  }
}

@keyframes button {
  0%,
  15%,
  90% {
    right: 10px;
    top: 220px;
    width: 20px;
    height: 20px;
  }
  30%,
  45% {
    right: 20px;
    top: 77px;
    width: 26px;
    height: 26px;
  }
  60%,
  75% {
    right: 25px;
    top: 92px;
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 1330px) {
  .responsive__example {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .responsive__example > div:last-child {
    height: 400px;
  }
  .responsive__example section {
    height: 125px;
  }
  @-webkit-keyframes window {
    0%,
    15%,
    90% {
      width: 140px;
      height: 125px;
    }
    30%,
    45% {
      width: 200px;
      height: 300px;
    }
    60%,
    75% {
      width: 280px;
      height: 370px;
    }
  }
  @keyframes window {
    0%,
    15%,
    90% {
      width: 140px;
      height: 125px;
    }
    30%,
    45% {
      width: 200px;
      height: 300px;
    }
    60%,
    75% {
      width: 280px;
      height: 370px;
    }
  }
}
/*# sourceMappingURL=responsiveexample.css.map */